.fixed-table-body{
    height: auto!important;
}

.bootstrap-table{
    margin-bottom: 1rem;
}

.swal-button{
    background-color: #17a2b8;
}

body {
    background-color: floralwhite;
}

#logo>a{
    color: gold;
    text-shadow: black 0 0 3px;
    font-size: 2em;
    line-height: 1em;
    font-weight: 600;
    text-decoration: none;
}

#header{
    padding: 40px 20px;
    /*background-color: dimgray;*/
    background: url("../image/bg_header.jpg") 50% 76% dimgray;
    background-size: cover;
}

footer {
    background-color: dimgray;
}

.mlr10{
    margin: 0 10px;
}

.btn-signin {
    margin: 0 0 10px 0;
}

.lnk-color, a{
    color: #17a2b8;
}

#menu > ul > li > a{
    font-size: 1.25em;
    color: white;
    text-shadow: black 0 0 3px;
}

#menu > ul > li > a:hover{
    color: gold;
    /*text-decoration: underline;*/
}

#content{
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.form-content{
    max-width: 768px;
}

.text-cadetblue{
    /*color: cadetblue;*/
    color: #17a2b8;
}

#nameSection{
    padding-bottom: 10px;
}

.action{
    font-size: 1em;
}

#login>a{
    font-size: 1.25em;
    /*font-weight: bold;*/
    color: white;
    text-decoration: none;
}

svg{
    margin-bottom: 5px;
}

/*#login>a>span{
    font-size: 1.25em;
    font-weight: normal;
}*/

#login>a:hover{
    color: gold;
    text-decoration: none;
}

.form-signin {
    max-width: 430px;
    padding: 20px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
    font-size: 18px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input {
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin button {
    margin-top: 10px;
}

.has-error {
    color: red
}

.table-nostriped tbody tr:nth-of-type(odd) {
    background-color:transparent;
}